<div class="hide" id="chat">
  <ul id="messages"></ul>
  <form id="form" action="">
    <input id="input" autocomplete="off" /><button>Send</button>
  </form>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();
  const form = document.getElementById('form');
  const input = document.getElementById('input');
  const messages = document.getElementById('messages');

  form.addEventListener('submit', (e) => {
    e.preventDefault();
    const message = input.value.trim();
    if (message) {
      // Send an object with user_name and message properties
      socket.emit('chat message', { user_name: '{{user_name}}', message: message });
      input.value = '';
    }
  });

  socket.on('chat message', (data) => {
    const item = document.createElement('li');
    // Display both user_name and message
    item.innerHTML = `<span class="username">${data.user_name}:</span> ${data.message}`;
    messages.appendChild(item);
    window.scrollTo(0, document.body.scrollHeight);
  });
</script>

